html, body {
  margin: 0;
  padding: 0; }

body {
  background-color: #f0efee;
  padding-top: 50px; }
  @media all and (max-width: 640px) {
    body {
      padding-top: 0; } }

@font-face {
  font-family: 'open_sansregular';
  src: url("fonts/OpenSans-Regular-webfont.eot");
  src: url("fonts/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'lobster';
  src: url("fonts/Lobster_1.3-webfont.eot");
  src: url("fonts/Lobster_1.3-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/Lobster_1.3-webfont.woff") format("woff"), url("fonts/Lobster_1.3-webfont.ttf") format("truetype"), url("fonts/Lobster_1.3-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

#top {
  width: 100%;
  background-color: #1f2325;
  color: white;
  position: fixed;
  top: 0; }
  #top a {
    font-family: 'open_sansregular', verdana, sans-serif;
    line-height: 50px;
    margin: 0 10px;
    color: #f0efee; }
  @media all and (max-width: 640px) {
    #top {
      position: relative; } }

.page {
  color: #1f2325;
  max-width: 960px;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 100px; }
  .page header {
    text-align: center;
    margin-top: 30px; }
    .page header input {
      width: 50%;
      height: 50px;
      font-size: 50px;
      margin-bottom: 50px; }
    .page header h1 {
      margin: 0; }
      .page header h1.setInitial {
        font-size: 64px; }
      .page header h1 span {
        display: block; }
        .page header h1 span.line0 {
          color: #0E80A0;
          font-family: 'open_sansregular', verdana, sans-serif;
          border-top: 1px solid #0E80A0;
          border-bottom: 1px solid #0E80A0;
          text-align: left; }
        .page header h1 span.line2 {
          font-family: 'lobster', verdana, sans-serif;
          font-weight: normal;
          margin: -.2em 0 0 0; }
          .page header h1 span.line2 .right {
            text-align: right; }
            .page header h1 span.line2 .right.red {
              color: #D9534F; }
            .page header h1 span.line2 .right.blue {
              color: #007DC7; }
      .page header h1 a.download {
        font-family: 'open_sansregular', verdana, sans-serif;
        background-color: #1f2325;
        color: #f0efee;
        line-height: 1.7em;
        display: block;
        text-decoration: none; }
        .page header h1 a.download:hover {
          text-decoration: underline; }
  .page h2 {
    font-family: 'open_sansregular', verdana, sans-serif;
    text-align: left;
    font-size: 30px;
    font-weight: normal; }
  .page h3 {
    font-family: 'open_sansregular', verdana, sans-serif;
    text-align: left;
    font-size: 24px;
    font-weight: normal; }
  .page .content {
    margin-top: 20px; }
  .page p:first-child {
    margin-top: 0; }
  .page p {
    font-size: 16px;
    line-height: 1.8em;
    font-family: Helvetica, Verdana, Arial, sans-serif; }
  .page code {
    margin-left: 20px;
    font-size: 16px; }
    .page code span {
      margin-left: 20px;
      margin-bottom: 10px;
      display: block; }
      .page code span span {
        margin-left: 20px; }

#plh-container {
  width: 100%;
  float: left;
  margin-bottom: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 2px solid #999;
  border-bottom: 2px solid #999; }
  #plh-container h3 {
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    line-height: 1.5; }
  #plh-container p {
    text-transform: uppercase; }

#plh-left {
  width: 44%;
  float: left; }

#plh-right {
  margin-left: 56%;
  width: 44%; }

#plh-toggle {
  padding: 1em; }

.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.cf:after {
  clear: both; }
